<?xml version="1.0"?>
<model>
  <name>ball_hitting_robot</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>
  <author>
    <name>Robot Developer</name>
    <email>user@example.com</email>
  </author>
  <description>Ball hitting robot model for Ignition/Gazebo (SDF)</description>
</model>
